<div id="form_search">
<%= form_tag("/movies", method: "get", id: "form_search") do %><!--
--><div><%= text_field_tag(:search, nil, placeholder: 'Which film are you looking for ? e.g. : Batman, Lord of the ring...') %><!--
--><%= submit_tag("Search", :id => "submit") %></div><!--
--><% end %>
</div>

<% if params[:search].present? %>
	<div id="result_search_container">
		<%  @result.each do |task| %>
			<div class="result_search">
				<p><%= task.title %><p>
				<% if !task.poster_path.nil? %>
					<%= image_tag "https://image.tmdb.org/t/p/w185/"+task.poster_path, alt: task.title %>
				<% else %>
					<%= image_tag 'unknow.jpg', alt: "unknonw" %>
				<% end %>
				<div class="choice"><span class="wish">X</span><span class="viewed">S</span></div>
			</div>
		<% end %>
	</div>
<% end %>


