<div id="description_film">
	   <%= debug(@credits) %> 
	<div class="description_film_header">
		<div class="overlay"></div>
			<div class="description_film_img" style="background-image:url(https://image.tmdb.org/t/p/w185/<%= @result.poster_path %>)">
			</div>
			<div class="description_film_intro">
				<h1><%= @result.title %></h1>

				<% @casts.each do |task| %>
					<% if task.job =="Director" %>
						<%= task.name %>
					<% end %>
				<% end %>


					<% i = 0 %>
					<% @casts.each do |task| %>
						<% if i<2 %>
							<%= task.name %>,
						<% elsif i ==3 %>
							<%= task.name %>
						<% end %>
						<% i+= 1 %>
					<% end %>
					(<%= @result.release_date[0,4] %>)
			</span>
		</div>
	</div>
	<div class="description_film_infos">
		<p>Synopsis :</p>
		<p><%= @result.overview %></p>
	</div
	<div class="video">
		<% if @trailers.present? %>

			<% @trailers.each do |task| %>
				<div class="videoWrapper">
					<iframe src="https://www.youtube.com/embed/<%= task.source %>" frameborder="0" allowfullscreen></iframe>
				</div>
				<% break %>
			<% end %>

		<% elsif @result.poster_path.present? %>

			<h2>Image</h2>
			<%= image_tag "https://image.tmdb.org/t/p/w185/"+@result.poster_path, alt: @result.title %>
		<% else %>
			<h2>Image</h2>
			<%= image_tag 'unknow.jpg', alt: "unknonw" %>

		<% end %>



	</div>
</div>
