<div id="description_film">
	   <% p(@credits) %>
	<div class="description_film_header">
		<div class="overlay"></div>
			<div class="description_film_img" style="background-image:url(https://image.tmdb.org/t/p/w185/<%= @result.poster_path %>)">
			</div>
			<div class="description_film_note">
				<%
					note = Integer(@result.vote_average)
					note = note.round
				%>
				<% noneNote = 10 - note %>
				<% i = 0 %>
				<% while i < note %>
					<%= image_tag 'note.png' %>
					<% i += 1 %>
				<% end %>
				<% j= 0 %>
				<% while j < noneNote %>
					<%= image_tag 'noneNote.png' %>
					<% j += 1 %>
				<% end %>
				(<%= @result.vote_count %> votes)
		  </div>
			<div class="description_film_intro">
				<h1><%= @result.title %></h1>
				de
				<% @credits.crew.each do |task| %>
					<% if task.job == "Director" %>
					 			<%= task.name %>,
					<% end %>
				<% end %>
				(<%= @result.release_date[0,4] %>) -
				<span class="description_film_actors">
					<% i = 0 %>
					<% @casts.each do |task| %>
						<% if i<2 %>
							<%= task.name %>,
						<% elsif i ==3 %>
							<%= task.name %>
						<% end %>
						<% i+= 1 %>
					<% end %>
				</span>
		</div>
	</div>
	<div class="description_film_infos">
		<p>Release date : <%= @result.release_date %></p>
		<p>Type :
		<% @result.genres.each do |genre| %>
		 <%= genre.name %>,
		<% end %>
		</p>
		<p>Duration : <%= @result.runtime %> min</p>
		<p>Synopsis :</p>
		<p><%= @result.overview %></p>
		<p>Casting :
			<% j = 0 %>
			<% @casts.each do |task| %>
				<% if j < 4 %>
					<%= task.name %>,
				<% elsif j == 5 %>
					<%= task.name %>
				<% end %>
				<% j+= 1 %>
			<% end %>
			</p>
		<p>Director(s) :
			<% @credits.crew.each do |task| %>
				<% if task.job == "Director" %>
							<%= task.name %>,
				<% end %>
			<% end %> </p>
		<p>Budget : <span style="color:#f1c40f">$</span><%= @result.budget %> </p>
	</div>
	<div class="video">

		<% if @trailers.present? %>

			<% @trailers.each do |task| %>
				<div class="videoWrapper">
					<iframe src="https://www.youtube.com/embed/<%= task.source %>" frameborder="0" allowfullscreen></iframe>
				</div>
				<% break %>
			<% end %>

		<% elsif @result.poster_path.present? %>
<!--
			<h2>Image</h2>
			<%= image_tag "https://image.tmdb.org/t/p/w185/"+@result.poster_path, alt: @result.title %>
		<% else %>
			<h2>Image</h2>
			<%= image_tag 'unknow.jpg', alt: "unknonw" %> -->

		<% end %>

	</div>
</div>
